<div class="modal-header modal-dialog-centered">
    <h1 class="modal-title" id="exampleModalLabel">Confirmation</h1>
</div>
<div class="modal-body">
    <p>{{data}}</p>
</div>
<hr>
<div class="modal-footer ">
    <button type="button" class="btn btn-secondary cancel-style" (click)="cancel()" aria-label="Cancel the delete of the product">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="save()" aria-label="Accept the delete of the product">Accept</button>
</div>