<a href="#main-content" tabindex="1" aria-label="Saltar al contenido principal">Skip to main content</a>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" id="logo" role="banner">
        <div class="row align-items-center">
            <div class="col-12 col-md-2">
                <img src="assets/img/gov_bc_logo.svg" alt="Government of B.C." class="img-fluid">
            </div>
            <div class="col-12 col-md-10">
                <p>Web Products Management</p>
            </div>
        </div>
    </div>
</nav>

<main id="main-content" class="container">
    <router-outlet></router-outlet>
</main>